/* Dark Theme */
.message {
	background: #2f2a2a !important;
	color: white;
}

body, a,
.prefix, .prefix strong,
#users li, #users li strong,
.chat-form .form-control{
	color: white !important;
}

body,
.chat-form,
.chat-form .form-control {
	background: #1f1b1b;
	scrollbar-color: rgb(127 63 152) rgb(69, 69, 69);
}

#send,
.chat-form .form-control,
#emic{
	border-color: #7f3f98;
}

#emic {
	background-color: #1f1b1b;
}

#emic_btn{
	background:#7f3f98;
}

.chat {
	border: rgb(127 63 152);
	border-style: solid;
	border-top: none;
	border-bottom: none;
}